body,
html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
}

body img {
    object-fit: contain;
    height: 100%;
}

.inputWrapper {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.inputWrapper label {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}